/**

//HTML5 Boilerplate + Normalize
*= require "_vendor/normalize.css"
*= require "_vendor/html5bp.css"

//Grid
*= require "_layout/grid"

*/

$red: #790c00;

body {
  background-color: $red;
  color: #fff;
}

.masthead {
  position: absolute;
  bottom: 1em;
  right: 1em;
  text-align: right;

  .company {
    font-family: SoinSansPro-Headline;
    font-weight: normal;
    font-size: 3.5em;
    line-height: 1em;
    margin:0;
  }

  .tagline {
    font-family: SoinSansPro-Oblique;
    font-weight: normal;
    font-size: 1.2em;
  }
}

/* Larger screens */
@media screen and (min-width: 40em) {
  .masthead {
    .company {
      font-size: 6em;
      /*margin-bottom: -0.24em;*/
    }

    .tagline {
      font-size: 2em;
    }
  }
}
